/*
[TAG, TAG,...] {
	comando: valor;
}

font-family: -> Familia de fonte
	- "Arial";
	- "Times New Roman", Times, serif; -> Com SERIF
	- "Arial", sans-serif; -> Sem SERIF
	- "Times New Roman", "Baskerville"; -> Use a segunda se não houver a primeira

font-size: -> Tamanho da Fonte
	- 16px;
	- 120%;

background-color: -> Cor do fundo
	- rgb(255, 255, 255);
	- #FFF;

color: -> Cor do texto
	- rgb(255, 255, 255);
	- #FFF;

text-align: -> Alinhamento do texto
	- center;
	- justify;
	- left;
	- right;

text-decoration
	- overline;
    - line-through;
    - underline;
    - underline overline;

padding
	- 24px;

margin
	- 0;

border
	- 10px solid #C2CCCA;

border-left
	- 30px solid transparent;

border-bottom-color
	- #333;

width
	- 250px;

box-sizing
	- border-box;

line-height
	- 30px;

display
	- inline;
	- block;
	- inline-block;
	- none;

text-transform
	- uppercase;

background-image
	- url(image.png);

text-indent
	- -99999px; -> Movimenta o texto visualmente apenas

float
	- right;
	- left;

clear
	- left;
	- right;
	- both;

position
	- absolute;
	- relative;
	- fixed;


*/
body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-principal {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
	font-size: 60px;
	text-transform: uppercase;
}

p {
	text-align: justify;
	margin: 20px 0;
}

.navegacao-site {
	text-align: center;
	background-color: #3C1D3D;
	color: #F2FFFC;
}

.rodape-pagina {
	background-color: #000;
	color: #F2FFFC;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

main a {
	color: #851944;
}

.navegacao-site a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

.navegacao-site, .rodape-pagina {
    padding: 20px;
}

.container {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

.navegacao-site h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.subtitulo-texto {
	font-size: 30px;
	clear: both;
}

.icones-redes-sociais li {
	display: inline-block;
}

nav a {
	text-transform: lowercase;
}

.icones-redes-sociais a {
	width: 40px;
	height: 40px;
	display: block;
	text-indent: -99999px;
}

.github {
	background-image: url(../img/github.png);
}

.twitter {
	background-image: url(../img/twitter.png);
}

.linkedin {
	background-image: url(../img/linkedin.png);
}

main {
	float: left;
	width: 85%;
	padding-bottom: 80px;
}

.minha-foto, .navegacao-site {
	float: right;
	box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

.minha-foto {
	position: absolute;
	top: 0;
	right: 0;
}

.navegacao-site {
	width: 15%;
	position: relative;
	top: 310px;
}